@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 40px;
}

.container {
  display: flex;
  column-gap: 20px;
}

.container .dot {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  animation: loading 1s infinite alternate;
}

.container .dot:nth-child(1) {
  background-color: #4285f4;
  animation-delay: -0.25s;
}

.container .dot:nth-child(2) {
  background-color: #ea4335;
  animation-delay: -0.5s;
}

.container .dot:nth-child(3) {
  background-color: #fbbc05;
  animation-delay: -0.75s;
}

.container .dot:nth-child(4) {
  background-color: #34a853;
  animation-delay: -1s;
}

@keyframes loading {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(5px);
  }
}
